# Dependências e Ambientes Virtuais
node_modules/
venv/
.venv/

# Cache do Python 
**/__pycache__/
*.py[cod]

# Arquivos de Configuração e Segredo
.env
*.log

# Pastas de dados do Docker
data/
db_data/

# IDEs
.vscode/